.container {
  position: relative;
}
.searchIcon {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}
.searchInput:not(:placeholder-shown) ~ .searchIcon,
.searchInput:focus ~ .searchIcon {
  color: #000;
}
.searchInput {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: transparent;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.searchInput:focus,
.searchInput:not(:placeholder-shown) {
  width: clamp(150px, 40vw, 250px);
  padding: 10px 0 10px 40px;
  background: rgba(256, 256, 256, 0.2);
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  cursor: text;
}
.searchInput::placeholder {
  color: transparent;
  font-size: 16px;
}
.searchInput:focus::placeholder {
  color: #ccc;
}

@media (min-width: 768px) {
  .searchInput:focus,
  .searchInput:not(:placeholder-shown) {
    width: clamp(150px, 30vw, 400px);
  }
}
